@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*
{
	font-family: 'Comfortaa', cursive;
	font-size: 24px;
}
.main
{
    text-align: center;
    box-shadow: 0px 0px 8px 4px rgba(253, 207, 0, 0.37);
    transition: 0.3s;
	position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    /*margin: 18%;*/
}
.container {
  padding: 20px 16px;
	white-space: normal;
}


input {
	text-align: center;
    width: 20px;
    border: none;
    border-bottom: solid 1px ;
    background: transparent;
    color: #ffd200;
    color-scheme: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    color-scheme: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body
{
    color: #ffd200;
	/*background-color: #333D79FF;*/
background: #0f0c29; 
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
	overflow:auto;
}
button
{
    color: #ffd200;
    border: #ffd200 1px solid;
    background: transparent; 
}
input:focus
{
	border: none;
	outline: none;
	border-bottom: 1px solid;
	
}
#result
{
	display: none;
}
